<body style="background-color: beige;background-repeat: no-repeat;background-size: cover;">
<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <h1 style="color: aliceblue" class="navbar-brand">Policy App</h1>
    <div class="d-flex">
      <div class="myDiv">
        <button
          style="margin-right: 16px"
          class="btn btn-light"
          routerLink="/business"
        >
          Business
        </button>
        <button
          style="margin-right: 16px"
          class="btn btn-light"
          routerLink="/addProperty"
        >
          Property
        </button>
        <!-- <button
          style="margin-right: 16px"
          class="btn btn-primary"
          routerLink="/quotes"
        >
          Quotes
        </button> -->
        <button
          style="margin-right: 16px"
          class="btn btn-light"
          routerLink="/policy"
        >
          Policy
        </button>
      </div>
      <button class="btn btn-danger mz-2" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<br/>
<h1 style="text-align: center; font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif; text-shadow: 2px 2px red;">Our Rules And Responsibilities</h1>
<br />
<br />
<li>Drafting & issuing property and general insurance policies to clients.</li>
<li>
  Ensuring the application of guidelines in compliance with Company's/rules and
  regulations.
</li>
<li>Ensuring the receipt of complete insurance documents.</li>
<li>Collecting & entering data and information on the system.</li>
<li>
  Undertaking any duties requested by line manageror any higher authority.
</li>

</body>