<body style="background-image: url(assets/bg.jfif);background-repeat: no-repeat;background-size:auto;background-size: 1400px 700px">
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        
        <h1 style="color:aliceblue;" class="navbar-brand">Issue Policy</h1>
        <div class="d-flex">
            
            <button routerLink="/policy" class="btn btn-danger mz-2">Back</button>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-25">
        <label for="policyId">Policy ID</label>
      </div>
      <div class="col-75">
        <input formControlName="policyId" type="number" id="policyId" name="policyId">
        <span class="text-danger" *ngIf="issueForm.controls['policyId'].dirty && issueForm.hasError('required','policyId')">*This is required field</span>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="consumerId">Consumer ID</label>
      </div>
      <div class="col-75">
        <input formControlName="consumerId" type="number" id="consumerId" name="consumerId">
        <span class="text-danger" *ngIf="issueForm.controls['consumerId'].dirty && issueForm.hasError('required','consumerId')">*This is required field</span>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="businessId">Business ID</label>
      </div>
      <div class="col-75">
        <input formControlName="businessId" type="number" id="businessId" name="businessId">
        <span class="text-danger" *ngIf="issueForm.controls['businessId'].dirty && issueForm.hasError('required','businessId')">*This is required field</span>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="paymentDetails">Payment Details</label>
      </div>
      <div class="col-75">
        <input formControlName="paymentDetails" type="text" id="paymentDetails" name="paymentDetails">
        <span class="text-danger" *ngIf="issueForm.controls['paymentDetails'].dirty && issueForm.hasError('required','paymentDetails')">*This is required field</span>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="STATUS">AcceptanceStatus</label>
        </div>
        <div class="col-75">
          <input formControlName="STATUS" type="text" id="STATUS" name="STATUS">
          <span class="text-danger" *ngIf="issueForm.controls['STATUS'].dirty && issueForm.hasError('required','STATUS')">*This is required field</span>
        </div>
      </div>
      
    <br>
    <div class="row">
      <input type="submit" [disabled]="!issueForm.valid" class="btn btn-success">
    </div>
    </form>
  </div>
</body>